@font-face {
    font-family: 'rock-mania';
    src: url('/assets/fonts/AllAgesDemo-2DPX.ttf');
}

.principal{
   padding-top: 20vh;
}

#navbar{
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 20vh;
}

#logotipo {

    width: 100%;
    height: 10vh;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EEEEEE;
}



#navegacao {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #242424;
    color: whitesmoke;
    width: 100%;
    height: 10vh;
}

#banner {

    width: 100%;
    height: 60vh;
    overflow: hidden;
    opacity: 1; 
    transition: opacity 0.3s;  
}
#banner:hover{
    opacity: 0.9;
    cursor: pointer;
}

#banner img {
    width: 100%;
    height: auto;
}

#banner__texto{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
}
#banner__texto--larger{
    font-family: 'rock-mania';
    font-size: 50px;
}

#banner__botao{
    width: 150px;
    height: 40px;
    background-color: #ED3051;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
}
#font__logo {
    font-family: 'rock-mania';
    font-size: 32px;
}

#link__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 0;
}

#navegacao__link {
    width: 480px;
    padding-left: 40px;

}

#navegacao__login--search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    padding-right: 40px;
}

#nav__login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 72px;
}

#nav__lista {
    margin: 0;
    padding: 0;
}

#nav__search {
    width: 450px;
    height: 32px;
    border-radius: 15px;
    border-style: none;
}

.input-container {
    position: relative;
    display: inline-block;
}

.input-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.input-container input {
    padding-left: 30px;
}

#list__dropdown {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Rubik', sans-serif;
}

#list__dropdown:hover {
    color: #ED3051;
    transition: 0.3s;
}

#link__login {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Rubik', sans-serif;
}

#link__login:hover {
    color: #ED3051;
    transition: 0.3s;
}

#icone__login:hover {
    color: #ED3051;
    transition: 0.3s;
    cursor: pointer;
}

#icone__carrinho:hover {
    color: #ED3051;
    transition: 0.3s;
    cursor: pointer;
}

#carousel__slide--first {
    display: flex;
    align-items: center;
    justify-content: center;
}

#destaques {
    background-color: #EEEEEE;
}

#destaques__titulo {
    margin: 0px 10px 20px 10px;
    padding-top: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #242424;
}

#destaques__seta {
    background-color: #242424;
}

#destaques__card {
    margin: 30px;
}

#tarja{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
}

#tarja__cartao{
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 30px 10px 30px; 
    opacity: 1; 
    transition: opacity 0.3s;
}
#tarja__cartao:hover{
    cursor: pointer;
    opacity: 0.6; 
}

#tarja__troca{
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 30px 10px 30px;
    opacity: 1; 
    transition: opacity 0.3s;      
}
#tarja__troca:hover{
    cursor: pointer;
    opacity: 0.6; 
}
#tarja__frete{
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 30px 10px 30px; 
    opacity: 1; 
    transition: opacity 0.3s;   
}
#tarja__frete:hover{
    cursor: pointer;
    opacity: 0.6; 
}
#tarja__seguranca{
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 30px 10px 30px;
    opacity: 1; 
    transition: opacity 0.3s;    
}
#tarja__seguranca:hover{
    cursor: pointer;
    opacity: 0.6; 
}
#icones__tarja{
    font-size: 45px;
    color: #ED3051;
    margin-right: 20px;
    
}
#tarja__titulo{
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    color: #242424;
}
#tarja__texto{
    margin: 0 auto;
    color: #242424;
}
#botao__card{
    width: 150px;
    height: 40px;
    background-color: #ED3051;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    border: none;
    opacity: 1; 
    transition: opacity 0.3s; 
    color: #FFFFFF;
    margin-top: 10px;
}
#botao__card:hover{
    cursor: pointer;
    opacity: 0.8; 
}
#promocao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#font__corte{
    text-decoration: line-through;
    margin: 0 auto;
}
#preco__destaque{
    color: aqua;
    font-family: 'Rubik', sans-serif;
    font-size:20px;
    margin: 0 auto;
}
#texto__promocao{
    margin: 0 auto;
}
#card__img{
    width: 286;
    height: 320px;
    overflow: hidden;
}

#bandeira__promocao{
    position: absolute;
    top: 6%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    border-radius: 50%;
    background-color: #ED3051;
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#bandeira__texto{
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
}