#logotipo{
    width: 100%;
    height: 10vh;
}
#navegacao{
    width: 100%;
    height: 10vh;
}

#banner{
    width: 100%;
    height: 75vh;
    overflow: hidden;
    
}
#banner img{
    width: 100%;
    height: auto;
}
#font__logo{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 32px;
}